
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


header {
    background-color: #a1ffcc;
    padding: 1rem 0;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.site-title h1 {
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
}

.main-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.main-menu a {
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
    text-align: center;
    margin-bottom: 5px;
    background-color: #80e5b3;
}


.main-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content-section {
    margin-bottom: 30px;
}


#table {
    order: 1;
}

#links {
    order: 2;
}

#form {
    order: 3;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9rem;
}

td, th {
    border: 1px solid #97e7ff;
    padding: 8px;
    text-align: left;
}

tr:first-child th {
    background-color: rgb(87, 186, 199);
}

tr:nth-child(odd) {
    background-color: #6acf85;
}

tr:nth-child(even) {
    background-color: #a7ff75;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    background-color: #95eee2;
    color: rgb(71, 71, 71);
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: 40px;
}

.footer-container {
    padding: 0 20px;
}

@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        max-width: 960px;
        margin: 0 auto;
    }
    
    .site-title h1 {
        margin: 0;
    }
    
    .main-menu {
        flex-direction: row;
        width: auto;
        margin-top: 0;
        gap: 20px;
    }
    
    .main-menu a {
        margin-bottom: 0;
    }
    
    .main-container {
        max-width: 960px;
        margin: 0 auto;
    }
    
    #table {
        order: 2;
    }
    
    #links {
        order: 1;
    }
    
    #form {
        order: 3;
    }
    
    table {
        font-size: 1rem;
    }
    
    td, th {
        padding: 12px;
    }
}


@media (min-width: 1024px) {
    .header-container, .main-container, .footer-container {
        max-width: 1200px;
    }
    
    .main-menu {
        gap: 30px;
    }
}